<div ng-controller="productAdd">
    <p>Add Product</p>



    <div class="tab-container">
        <form name="productForm" class="" role="form">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab" target="_self">Details</a></li>
                <li><a href="#options" data-toggle="tab" target="_self">Options</a></li>
                <li><a href="#customFields" data-toggle="tab" target="_self">Custom Fields</a></li>
                <li><a href="#images" data-toggle="tab" target="_self">Images</a></li>
                <li><a href="#collections" data-toggle="tab" target="_self">Collections</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active content" id="details">
                    <div class="form-group">
                        <label>*Name<span ng-show="collectionForm.name.$invalid && !collectionForm.name.$pristine">name is too short.</span><br/></label>
                        <div>
                            <input type="text" class="form-control" ng-model="product.Name" ng-minlength="3" ng-maxlength="8" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description<span ng-show="collectionForm.name.$invalid && !collectionForm.name.$pristine">name is too short.</span><br/></label>
                        <div>
                            <textarea class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label >Tags</label>
                        <div>
                            <input type="text" class="form-control" name="tags" ng-model="product.Tag">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                            <label>SKU</label>
                            <div>
                                <input type="text" class="form-control" name="sku" ng-model="product.Sku">
                            </div>
                                </div>
                            <div class="col-sm-6 col-md-6">
                            <label>Vendor</label>
                            <div >
                                <input type="text" class="form-control" name="vendor" ng-model="product.Vendor">
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Price</label>
                                <div>
                                    <input type="text" class="form-control" name="price" ng-model="product.price">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label>Regular Price</label>
                                <div >
                                    <input type="text" class="form-control" name="regularPrice" ng-model="product.regularPrice">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-horizontal">
                        <div class="row">
                            <label class="col-sm-3 col-md-3 control-label">Manage Inventory Method</label>
                            <div class="col-sm-3 col-md-3">
                                <select id="selInvertoryMethod" class="form-control" ng-change="invertoryMethodChange()">
                                    <option value="0">No Track</option>
                                    <option value="1">Tracking</option>
                                </select>
                                <div id="pnlInvortory">
                                    <div class="form-inline">
                                        <label class="control-label">Invertory quantity</label>
                                        <input type="text" class="form-control" name="regularPrice" ng-model="product.regularPrice">
                                    </div>
                                    <div class="form-inline">
                                        <label class="control-label">Low level quantity</label>
                                        <input type="text" class="form-control" name="regularPrice" ng-model="product.regularPrice">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="form-group form-horizontal">
                        <div class="row">
                            <label class="col-sm-3 col-md-3 control-label">Setting</label>
                            <div class="col-sm-9 col-md-9">
                                <label class="checkbox-inline"><input type="checkbox"/>Is visible</label>
                                <label class="checkbox-inline"><input type="checkbox"/>Is purchasable</label>
                                <label class="checkbox-inline"><input type="checkbox"/>Is back order enabled</label>
                                <label class="checkbox-inline"><input type="checkbox"/>Is pre order enabled</label>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="tab-pane cont" id="options">
                    <h2>Typography</h2>
                    <p>This is just an example of content writen by <b>Jeff Hanneman</b>, as you can see it is a clean design with large
                </div>
                <div class="tab-pane" id="customFields">customFields</div>
                <div class="tab-pane" id="images">images</div>
                <div class="tab-pane" id="collections">
                    <h2>Collections</h2>
                    <select id='custom-headers' multiple='multiple'>
                        <option value='elem_1'>elem 1</option>
                        <option value='elem_2'>elem 2</option>
                        <option value='elem_3'>elem 3</option>
                        <option value='elem_4'>elem 4</option>
                        <option value='elem_5'>elem 5</option>
                        <option value='elem_6'>elem 6</option>
                        <option value='elem_7'>elem 7</option>
                    </select>
                </div>
            </div>
            <button type="submit" data-ng-click="create()" class="btn btn-default" ng-disabled="collectionForm.$invalid">Save</button>
        </form>
    </div>


</div>

        <script type="text/javascript">

            $(document).ready(function(){
                $('#custom-headers').multiSelect({
                    selectableHeader: "<div class='custom-header'>Selectable items</div>",
                    selectionHeader: "<div class='custom-header'>Selection items</div>",
                });
            });

        </script>

