<div>
    <p>Category</p>

    <a class="btn btn-default" href="#/collection/add">Add</a><button class="btn btn-default" ng-click="remove($event)">Remove</button>
    <p>
    <table border="1">
        <tr>
            <td><input type="checkbox" ng-click="selectedAll($event)"></td>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
        </tr>
        <tr ng_repeat="collection in collections">
            <td><input type="checkbox" ng-model="collection.IsSelected"></td>
            <td>{{ collection.Id }}</td>
            <td>{{ collection.Name }}</td>
            <td>{{ collection.Description }}</td>
        </tr>

    </table>
    </p>


</div>